.home {
  /* background-color: #0d3655;
  color: white; */
  min-height: 90vh;
  align-items: center;
  text-align: center;
}

.home-heading {
  padding-top: 10px;
  padding-bottom: 10px;
}

.middle-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-icons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bi {
  color: 	#cbdcea;
  font-size: 45px;
}

.bi:hover {
  color: #72b7a3;
}