.home {
  align-items: center;
  text-align: center;
}

.home-heading {
  padding-top: 10px;
  padding-bottom: 10px;
}

.middle-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-icons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hi {
  color: 	#cbdcea;
  font-size: 45px;
}